name: linux

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["LCG_97/x86_64-centos7-gcc8-opt",
              "LCG_101/x86_64-centos7-gcc11-opt",
              "LCG_102/x86_64-centos7-gcc11-opt",
              "LCG_102/x86_64-centos7-clang12-opt",
              "LCG_102/x86_64-ubuntu2004-gcc9-opt"]
    steps:
    - uses: actions/checkout@v2
    - uses: cvmfs-contrib/github-action-cvmfs@v3
    - uses: aidasoft/run-lcg-view@v4
      with:
        release-platform: ${{ matrix.LCG }}
        run: |
          mkdir build install
          cd build
          cmake -DCMAKE_CXX_STANDARD=17 \
            -DBUILD_ROOTDICT=ON \
            -DCMAKE_CXX_FLAGS="-fdiagnostics-color=always" \
            -DCMAKE_INSTALL_PREFIX=../install \
            ..
          make -k
          make install
          ctest --output-on-failure
